/**********************************Main Admin**************/
table.table1 {
    width:550px;
	border:1px solid #EEE;
	background-color:#F1F8FE;
	padding:5px 15px 10px 15px;
}
table.admin1 :hover{

}
table.admin1 thead{

}
table.admin1 tbody{

}
table.admin1 tr{
	
}
table.admin1 th{
	
}
table.admin1 th a{

}
table.admin1 td{
    padding:10px 3px 10px 5px;
}
table.admin1 td a{

}
table.admin1 td a:hover{

}
